* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container__header {
  max-width: 1680px;
  margin: auto;
}

.container {
  max-width: 1322px;
  margin: auto;
}

.barcode {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.dark-bg {
  background: #070618 url("assets/images/background.png") repeat;
  background-blend-mode: normal;
}

.section-info {
  padding-top: 125px;
  padding-bottom: 100px;
}

@media (max-width: 1500px) {
  .container__header {
    max-width: 1450px;
  }

  .container {
    max-width: 1450px;
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .container__header {
    max-width: 960px;
  }

  .container {
    max-width: 960px;
  }
}
@media (max-width: 700px) {
  .container__header {
    max-width: 650px;
  }

  .container {
    max-width: 650px;
  }
}
@media (max-width: 600px) {
  .container__header {
    max-width: 550px;
  }

  .container {
    max-width: 550px;
    padding: 0 20px;
  }
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: url("assets/images/background2.png");
  background-repeat: repeat;
}

.green-on-white {
  color: #8CC63F;
  border: 2px solid #8CC63F;
  padding: 20px 50px;
  font-size: 54px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  box-shadow: -5px 10px 10px #dddddd, 5px 10px 10px #dddddd;
}

header {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
}

.navbar-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 155px;
}
.navbar__logo {
  margin-right: 330px;
  margin-top: 11px;
  min-width: 418px;
  min-height: 55px;
}
.navbar__info {
  font-size: 36px;
  font-weight: bold;
  margin-right: 68px;
  color: #fff;
}
.navbar__info a {
  color: #fff;
  text-decoration: none;
}
.navbar__telegram {
  margin-right: 65px;
  max-width: 60px;
  min-width: 60px;
  max-height: 61px;
  min-height: 61px;
}

.menu-button {
  background: none;
  border: none;
  max-width: 76px;
  min-width: 76px;
  max-height: 40px;
  min-height: 40px;
}

.menu-line {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
}

.menu {
  margin: auto;
  width: 100%;
}
.menu__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__link {
  text-decoration: none;
  font-size: 20px;
  border-top: 2px solid #003558;
  padding: 15px 0;
  display: inline-block;
  flex: 1 1 auto;
  text-align: center;
  color: #003558;
}
.menu__link:hover {
  border-top: 2px solid #005086;
  color: #005086;
}
.menu__link.active {
  border-top: 2px solid #00acee;
  color: #00acee;
}

@media (max-width: 1700px) {
  .navbar__logo {
    margin-right: 270px;
  }
}
@media (max-width: 1700px) {
  .navbar__logo {
    margin-right: 150px;
  }
}
@media (max-width: 1488px) {
  .navbar__logo {
    margin-right: 30px;
  }
  .navbar__info, .navbar__telegram {
    margin-right: 10px;
  }
}
@media (max-width: 1220px) {
  .navbar__info {
    font-size: 26px;
  }
}
@media (max-width: 1130px) {
  .navbar__logo {
    min-width: 308px;
    max-width: 308px;
    min-height: 39px;
    max-height: 39px;
  }
  .navbar__telegram {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
  }

  .menu-button {
    min-width: 56px;
    max-width: 56px;
    min-height: 30px;
    max-height: 30px;
  }
}
@media (max-width: 1024px) {
  .menu-line {
    display: none;
  }
}
@media (max-width: 972px) {
  .navbar__email {
    display: none;
  }
  .navbar__logo {
    margin-top: 5px;
  }
}
@media (max-width: 700px) {
  .navbar__logo {
    min-width: 166px;
    max-width: 166px;
    min-height: 17px;
    max-height: 17px;
    margin-top: 0;
    margin-right: 0;
  }
  .navbar__telegram {
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
  }
  .navbar__phone {
    font-size: 20px;
  }

  .menu-button {
    min-width: 46px;
    max-width: 46px;
    min-height: 20px;
    max-height: 20px;
  }
}
.it_outsource {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
  min-height: 700px;
  padding-top: 140px;
}
.it_outsource h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0;
}
.it_outsource__links {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #00acee;
}
.it_outsource__links:hover {
  background: linear-gradient(360deg, #00acee 30%, transparent 30%);
}

.request {
  background: -moz-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  background: linear-gradient(180deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  width: 540px;
  border: 2px solid #8cc63f;
  font-size: 54px;
  height: 100px;
  color: #fff;
  margin-top: 130px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.service {
  font-size: 100px;
  font-weight: 500;
  margin-top: 200px;
}

.service-description {
  font-size: 34px;
  margin-top: 85px;
  line-height: 1.4em;
}

.service-cells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 140px;
}

.cell {
  background: -moz-linear-gradient(50% 0% -90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -webkit-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0.4274, rgba(0, 173, 239, 0)), color-stop(0.9191, rgba(0, 173, 239, 0.86)), color-stop(1, #00adef));
  background: -o-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -ms-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ADEF', endColorstr='#00ADEF' ,GradientType=0)";
  background: linear-gradient(180deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #00acee;
  width: 398px;
  height: 550px;
  margin-right: 58px;
  margin-bottom: 77px;
  padding: 70px 40px 50px 40px;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell__header {
  font-size: 40px;
  font-weight: 500;
  color: #00acee;
  display: block;
  text-align: left;
  margin-bottom: 90px;
}
.cell__description {
  display: block;
  font-size: 22px;
  flex-grow: 1;
}
.cell__more {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

@media (max-width: 1400px) {
  .it_outsource {
    padding-top: 60px;
  }
  .it_outsource h1 {
    font-size: 35px;
  }

  .request {
    width: 345px;
    height: 70px;
    font-size: 28px;
    margin-top: 90px;
  }

  .service {
    margin-top: 130px;
    font-size: 75px;
  }

  .service-description {
    margin-top: 70px;
    font-size: 28px;
  }

  .cell:nth-child(3n) {
    margin-right: 58px;
  }
}
@media (max-width: 700px) {
  .it_outsource {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .it_outsource h1 {
    font-size: 25px;
  }

  .request {
    width: 255px;
    height: 50px;
    font-size: 25px;
    margin-top: 70px;
  }

  .service {
    margin-top: 100px;
    font-size: 55px;
  }

  .service-description {
    margin-top: 50px;
    font-size: 24px;
  }

  .cell {
    min-width: 460px;
    height: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 38px 30px 30px 30px;
    background: none;
  }
  .cell__header {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .cell__header:after {
    content: url("assets/images/toggle_icon.png");
    width: 15px;
    height: 18px;
    font-size: 0;
    margin-top: 20px;
  }
  .cell__header.active:after {
    content: url("assets/images/toggle_icon.png");
    transform: rotate(90deg);
    width: 15px;
    height: 18px;
  }
  .cell__description {
    display: none;
    margin-top: 30px;
  }
  .cell__more {
    display: none;
    margin-top: 40px;
    border: 2px solid #8CC63F;
    max-width: max-content;
    padding: 10px 15px 11px 20px;
    background: -moz-linear-gradient(50% -0.74% -90deg, rgba(140, 198, 63, 0) 70%, rgba(140, 198, 63, 0.42) 85.87%, rgba(140, 198, 63, 0.85) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, rgba(140, 198, 63, 0.42) 85.87%, rgba(140, 198, 63, 0.85) 100%);
    background: -o-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, rgba(140, 198, 63, 0.42) 85.87%, rgba(140, 198, 63, 0.85) 100%);
    background: -ms-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, rgba(140, 198, 63, 0.42) 85.87%, rgba(140, 198, 63, 0.85) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CC63F', endColorstr='#8CC63F' ,GradientType=0)";
    background: linear-gradient(180deg, rgba(140, 198, 63, 0) 70%, rgba(140, 198, 63, 0.42) 85.87%, rgba(140, 198, 63, 0.85) 100%);
  }
}
.zabbix {
  background: none;
  color: #000;
  padding-bottom: 130px;
}

.section-heading__main {
  font-size: 100px;
  font-weight: 500;
  margin-right: 80px;
}
.section-heading__sub {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.section-description {
  font-size: 34px;
  margin-top: 100px;
  line-height: 1.4em;
}

.features {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.features__item {
  width: 345px;
  margin-bottom: 155px;
}
.features__item__header {
  font-size: 40px;
  font-weight: 500;
  color: #00acee;
  line-height: 1.2em;
}
.features__item__desc {
  display: inline-block;
  font-size: 22px;
  margin-top: 35px;
  line-height: 1.4em;
}

.products_1c {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
  padding-bottom: 100px;
}
.products_1c .cell {
  margin-bottom: 0;
  border: 2px solid #8CC63F;
  background: -moz-linear-gradient(50% 0% -90deg, rgba(140, 198, 63, 0) 50%, rgba(140, 198, 63, 0.86) 92.93%, #8cc63f 100%);
  background: -webkit-linear-gradient(-90deg, rgba(140, 198, 63, 0) 50%, rgba(140, 198, 63, 0.86) 92.93%, #8cc63f 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0.5, rgba(140, 198, 63, 0)), color-stop(0.9293, rgba(140, 198, 63, 0.86)), color-stop(1, #8cc63f));
  background: -o-linear-gradient(-90deg, rgba(140, 198, 63, 0) 50%, rgba(140, 198, 63, 0.86) 92.93%, #8cc63f 100%);
  background: -ms-linear-gradient(-90deg, rgba(140, 198, 63, 0) 50%, rgba(140, 198, 63, 0.86) 92.93%, #8cc63f 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CC63F', endColorstr='#8CC63F' ,GradientType=0)";
  background: linear-gradient(180deg, rgba(140, 198, 63, 0) 50%, rgba(140, 198, 63, 0.86) 92.93%, #8cc63f 100%);
}
.products_1c .cell__header {
  color: #8CC63F;
}

.wtware .features__item {
  max-width: 275px;
}

.ip_telephone {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
}
.ip_telephone .features__item {
  max-width: 235px;
}
.ip_telephone .details-button {
  background: -moz-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  background: linear-gradient(180deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  color: #fff;
  box-shadow: none;
}

.network {
  background: #070618 url("assets/images/background2.png") repeat;
  color: #fff;
  padding-bottom: 23px;
}

.videosystem .features__item {
  max-width: 275px;
}

.footer {
  background: url("assets/images/background2.png") repeat, #070618 url("assets/images/footer_background.png") no-repeat 0 70px;
  color: #fff;
  padding-top: 58px;
  padding-bottom: 100px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer__copywrite {
  font-size: 24px;
}
.footer__link {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  line-height: 1.9em;
}
.footer__link__bold {
  font-weight: 700;
}
.footer__logo {
  margin-bottom: 20px;
  max-width: 418px;
  max-height: 40px;
  min-width: 418px;
  min-height: 40px;
}

.logo_caption {
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
