* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container__header {
  max-width: 1680px;
  margin: auto;
}

.container {
  max-width: 1322px;
  margin: auto;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #070618;
  background-image: url("assets/images/background.png");
  background-repeat: repeat;
  color: #fff;
}

.navbar-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 155px;
}
.navbar__logo {
  margin-right: 330px;
  margin-top: 11px;
}
.navbar__info {
  font-size: 36px;
  font-weight: bold;
  margin-right: 68px;
  color: #fff;
}
.navbar__info a {
  color: #fff;
  text-decoration: none;
}
.navbar__telegram {
  margin-right: 65px;
}

.menu-button {
  background: none;
  border: none;
}

.menu-line {
  background-color: #070618;
  background-image: url("assets/images/background.png");
  background-repeat: repeat;
  color: #fff;
}

.menu {
  margin: auto;
  width: 100%;
}
.menu__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__link {
  text-decoration: none;
  font-size: 20px;
  border-top: 2px solid #003558;
  padding: 15px 0;
  display: inline-block;
  flex: 1 1 auto;
  text-align: center;
  color: #003558;
}
.menu__link:hover {
  border-top: 2px solid #005086;
  color: #005086;
}
.menu__link.active {
  border-top: 2px solid #00acee;
  color: #00acee;
}

.it_outsource {
  background: #070618 url("assets/images/background.png") repeat;
  background-blend-mode: normal;
  color: #fff;
  min-height: 700px;
  padding-top: 140px;
}
.it_outsource h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0;
}
.it_outsource__links {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #00acee;
}
.it_outsource__links:hover {
  background: linear-gradient(360deg, #00acee 30%, transparent 30%);
}

.request {
  background: -moz-linear-gradient(-90deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  background: linear-gradient(180deg, rgba(140, 198, 63, 0) 70%, #8cc63f);
  width: 540px;
  border: 2px solid #8cc63f;
  font-size: 54px;
  height: 100px;
  color: #fff;
  margin-top: 130px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.service {
  font-size: 100px;
  font-weight: 500;
  margin-top: 200px;
}

.service-description {
  font-size: 34px;
  margin-top: 85px;
  line-height: 1.4em;
}

.service-cells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 140px;
}

.cell {
  background: -moz-linear-gradient(50% 0% -90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -webkit-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0.4274, rgba(0, 173, 239, 0)), color-stop(0.9191, rgba(0, 173, 239, 0.86)), color-stop(1, #00adef));
  background: -o-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  background: -ms-linear-gradient(-90deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ADEF', endColorstr='#00ADEF' ,GradientType=0)";
  background: linear-gradient(180deg, rgba(0, 173, 239, 0) 42.74%, rgba(0, 173, 239, 0.86) 91.91%, #00adef 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #00acee;
  width: 398px;
  height: 550px;
  margin-right: 58px;
  margin-bottom: 77px;
  padding: 70px 40px 50px 40px;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell__header {
  font-size: 40px;
  font-weight: 500;
  color: #00acee;
  display: block;
  text-align: left;
}
.cell__description {
  display: block;
  font-size: 22px;
}
.cell__more {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
