.products_1c
  background: #070618 url("assets/images/background2.png") repeat
  color: #fff
  padding-bottom: 100px
  .cell
    margin-bottom: 0

  .parallax-wrapper
    position: relative
    top: -150px
    margin-bottom: -407px
    left: 1320px

  .paralax-item
    position: relative

