.ip_telephone
  background: #070618 url("assets/images/background2.png") repeat
  color: #fff
  .features
     &__item
      max-width: 235px
  .details-button
    background: -moz-linear-gradient(-90deg,rgba(140,198,63,0) 70%,rgba(140,198,63,1))
    background: linear-gradient(180deg,rgba(140,198,63,0) 70%,rgba(140,198,63,1))
    color: #fff
    box-shadow: none

  .parallax-wrapper
    position: relative
    top: -450px
    left: 1520px
    margin-bottom: -540px

  .paralax-item
    position: relative