.it_outsource
  background: #070618 url("assets/images/background2.png") repeat
  color: #fff
  min-height: 700px
  padding-top: 140px

  .parallax-wrapper
    position: absolute
    top: 1920px
    left: 1320px

  .paralax-item
    position: relative

  h1
    font-size: 54px
    font-weight: 500
    line-height: 1.6em
    margin: 0
  &__links
    text-decoration: none
    color: #fff
    border-bottom: 2px solid #00acee
    &:hover
      background: linear-gradient(360deg,#00acee 30%,transparent 30%)

.request
  background: -moz-linear-gradient(-90deg,rgba(140,198,63,0) 70%,rgba(140,198,63,1))
  background: linear-gradient(180deg,rgba(140,198,63,0) 70%,rgba(140,198,63,1))
  width: 540px
  border: 2px solid rgba(140,198,63,1)
  font-size: 54px
  height: 100px
  color: #fff
  margin-top: 130px
  +medium

.service
  font-size: 100px
  font-weight: 500
  margin-top: 200px

.service-description
  font-size: 34px
  margin-top: 85px
  line-height: 1.4em



@media (max-width: 1400px)
  .it_outsource
    padding-top: 60px
    h1
      font-size: 35px
  .request
    width: 345px
    height: 70px
    font-size: 28px
    margin-top: 90px

  .service
    margin-top: 130px
    font-size: 75px


@media (max-width: 700px)
  .it_outsource
    padding-top: 40px
    padding-bottom: 50px
    h1
      font-size: 25px
  .request
    width: 255px
    height: 50px
    font-size: 25px
    margin-top: 70px

  .service
    margin-top: 100px
    font-size: 55px



