.network
  background: #070618 url("assets/images/background2.png") repeat
  color: #fff
  padding-bottom: 23px
  .parallax-wrapper
    position: relative
    top: 0px
    margin-bottom: -1240px
    //left: 1500px
    left: 1800px

  .paralax-item
    position: relative

@media (max-width: 1440px)
  .network
    .parallax-wrapper
      top: -210px
      margin-bottom: -1240px
      left: 1180px

@media (max-width: 1300px)
  .network
    .parallax-wrapper
      left: 1020px